.form-control {
  width: 50%;        /* fills half the screen */
  padding: 12px 16px; /* makes input taller & more spacious */
  font-size: 16px;   /* bigger text */
  box-sizing: border-box; /* ensures padding doesn't break width */
  border-radius: 10px;
  margin: 16px
}


.ng-valid[required], .ng-valid.required  {
  border-left: 10px solid green; /* green */
}

.ng-invalid:not(form), .ng-invalid.required  {
  border-left: 10px solid red; 
}

.valid-input {
  border: 10px solid green !important;
  border-radius: 8px;
}

.invalid-input {
  border: 10px solid yellow !important;
  border-radius: 8px;
}